html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
    color: #171648;
}
.fs12{
    font-size: 12px;
}
.fs18{
    font-size: 18px;
}
.fs14{
    font-size: 14px;
}
.fs16{
    font-size: 16px;
}
.fs20{
    font-size:20px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.title-style{
    color: #2F2C4A;
    font-weight: 500
}

.container{
    width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}
.head-nav {
    padding-top: 25px;
    display: flex;
    align-items: center;
}
.logo{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.logo img{
    padding-right: 5px;
}
nav{
    margin-left: 5%;
}
nav a{
    margin-right:20px;
    color: #656464;
    font-weight: 400;
    font-size: 14px;
}
nav a:Hover{
     color: #2B2B39;
 }
.form{
    margin-left:35%;
}
.search-lbl{
    width: 100px;
    height: 30px;
    padding-bottom: 10px;
    border: none;
    border-bottom: #E5E5E5 1px solid;
    background: transparent;

}
.login-btn{
    width: 120px;
    height: 50px;
    color: white;
    background-color: #217BF4;
    border-radius: 14px;
    border: none;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}
.login-btn:hover{
    background-color: #1a68d0;
}
.bg{
    height: 100%;
    width: 100%;
    background: linear-gradient(312deg, #D4E7FE -15.24%, #FFF 78.85%);
}
hr{
    border: 0.1px solid rgba(33, 123, 244, 0.1);
}
.head-window{
    display: flex;
}
.btn-go-community{
    display: flex;
    height: 35px;
    width: 175px;
    background-color: rgba(33, 123, 244, 0.1);
    border-radius: 8px;
    color: #217BF4;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-go-community:hover{
    background-color: rgba(39, 126, 241, 0.24);

}
.texthead{
    display: flex;
    flex-direction: column;
    margin-top: 125px;
}
.big-text{
    margin-top: 20px;
    color: #0A093D;
    font-size: 56px;
    font-weight: 700;
}
.small-text{
    color: #656464;
    font-weight: 100;
    line-height: 22px;
}
.btnhead{
    margin-top: 40px;
}
.btn-head{
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-weight: 100;
    color: white;
    background-color: #217BF4;
    border-radius: 14px;
    border: none;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}
.btn-head:hover{
    background-color: #1a68d0;
}
.btn-head2{
    color: #217BF4;
    background-color: transparent;
    border: 1px solid rgba(33, 123, 244, 0.1);
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-weight: 100;
    border-radius: 14px;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}
.btn-head2:hover{
    background-color: rgba(182, 182, 182, 0.24);
}
.about{
    display: flex;
}
.about-left{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.list ul{
    color: #171648;
    list-style-image: url("../img/ul ellipse.svg");
}
.list li{
    padding-left: 10px;
    padding-top: 10px;
}
.about-right{
    display: flex;
    margin-top: 140px;
    margin-left: 190px;
}
.about-right img{
    height: 400px;
    width: 280px;
}
.twoimage{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 15px;
}
.twoimage img{
    padding-bottom: 15px;
    width: 267px;
    height: 250px;
}
.our-achiv{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;

}

.one-achiv{
    background-color: white;
    width: 336px;
    height: 360px;
    border-radius: 14px;
    border: 1px solid rgba(185, 185, 185, 0.13);
}
.one-achiv:hover{
    box-shadow: 0px 26px 49px 0px rgba(146, 165, 184, 0.14);
}
.text-digital-life{
    display: flex;
    flex-direction: column;
}
.star{
    display: flex;
    align-items: center;
    margin-top: 42px;
    margin-left: 44px;
    color: #0A093D;
    font-size: 20px;
    font-weight: 400;
}
.member{
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-left: 44px;
}
.member-text{
    margin-left: 16px;
    color: #217BF4;
    font-size: 16px;
    font-weight: 600;
}
.member-text2{
    color: #5D5B70;
    font-size: 16px;
    font-weight: 500;
}
.descript{
    margin-left: 44px;
    margin-top: 43px;
}
.a-link{
    display: flex;
    margin-top: 40px;
    margin-left: 44px;
}
.a-link a{
    text-decoration: none;
    color: #4A4A56;
}
.a-link a:hover{
    color: #217BF4;
    margin-left: 46px;
}
.discover-me{
    margin-top: 50px;
    width: 190px;
    height: 58px;
    font-size: 14px;
    font-weight: 100;
    color: white;
    background-color: #217BF4;
    border-radius: 14px;
    border: none;
}
.discover-me:hover{
    background-color: #1754a6;
}
.our-community-bg{
    background: linear-gradient(0deg, rgba(241, 246, 253, 0.00) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFF 100%);
}
.center-our-comm{
    margin-top: 150px;
    display: inline-block;
    text-align: center;
}
.community{
    display: flex;
    justify-content: space-evenly;
}
.left-our{
    display: flex;
    flex-direction: column;
}
.right-our{

}
.text-base{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;
}
.base-block{
    display: flex;
    align-items: center;
    width: 460px;
    height: 140px;
    margin-top: 44px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
}
.base-block img{
    margin-left: 10px;
    height: 85px;
    width: 85px;
}
.base-block:hover{
    box-shadow: 14px 22px 52px -12px rgba(93, 93, 93, 0.3);
}
.news-three{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.tmp-news{
    text-align: left;
}
.tmp-news a{
    text-decoration: none;
    color: #4A4A56;
}
.tmp-news a:hover{
    color: #217BF4;
    margin-left: 2px;
}
.cent{
    display: flex;
    justify-content: center;
}
.switcher{
    margin-top: 40px;
    width: 400px;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    background-color: rgba(33, 123, 244, 0.06);
    border-radius: 14px;
}
.newst{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
}
.pop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}
.active {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 150px;
    height: 58px;
    border-radius: 14px;
    background: #217BF4;
    box-shadow: 0px 7px 22px -6px rgba(0, 72, 168, 0.34);
}
.users-top{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.bg-app{
    background: #E5F0FD;
    height: 560px;
}
.mobileapp{
    display: flex;

}




.footerbg{
    margin-top: 100px;
    background: #2B2B39;
    color: #FFFFFF;
    padding-block-end: 80px;
}
.type-footer{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
}
.text-footer-block ul{
    margin-left: -80px;
    line-height: 30px;
    font-weight: 100;
}
.subscribe-block {
    margin-top: 20px;
    line-height: 25px;
}
.subscribe-block span{
    font-weight: 600;
}
.subscribe-block p{
    font-weight: 100;
}
.email-btn{
    padding-left: 20px;
    background: transparent;
    width: 250px;
    height: 39px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.85);
}
.g-subs{
    width: 120px;
    height: 39px;
    margin-left: -35px;
    border-radius: 12px;
    background: #FFF;
    border: none;
}
.g-subs:hover{
    background: #dadada;

}
.footer2bg{
    color: #FFFFFF;
    background: #20202D;
}
.content{
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}